<nav>
  <div class="menu"><i class="fa-solid fa-bars" id="baropen" (click)="Menu()"></i></div>
  <div class="menu "><i class="fa-solid fa-xmark" id="barclose" (click)="Menu()"></i></div>
  <div class="nav-content">
  <ul>
    <li><a href="#services">Trabalhos</a></li>
    <li><a href="#sobre">Sobre</a></li>
    <li><a href="#Informacoes">Contato</a></li>
  </ul>
</div>
</nav>
<div class="nav-contentt">
  <ul id="bar">
    <li><a href="#services">Trabalhos</a></li>
    <li><a href="#sobre">Sobre</a></li>
    <li><a href="#Informacoes">Contato</a></li>
    <div class="logo">
      <img id="img-logo1" src="assets/Imagens/Logo.png" alt="logo">
  </div>
  </ul>
</div>


<div class="content">
    <div class="context">
      <h3>Economize dinheiro com energia solar!</h3>
      <p>Pare de pagar contas de luz caras e aproveite a energia solar.</p>
    </div>
</div>

<section id="services" data-ctt="left">
    <div class="content-sobre">
        <h2>Conheça nossos serviços</h2>
    </div>

  <div class="carrousell">
    <img src="assets/Imagens/1.jpeg" alt=""  style="overflow: hidden;background-repeat:no-repeat;height: 30rem;border-radius: 7px;" class="img-data shadow-2"  />
    <img src="assets/Imagens/2.jpeg" alt=""  style="overflow: hidden;background-repeat:no-repeat;height: 30rem;border-radius: 7px;" class="img-data shadow-2"  />
    <img src="assets/Imagens/3.jpeg" alt=""  style="overflow: hidden;background-repeat:no-repeat;height: 30rem;border-radius: 7px;" class="img-data shadow-2"  />
  </div>
</section>

<section  id="contact" data-ctt="right">
  <div class="contact-content">
    <h2>Economize dinheiro e produza sua própria energia!</h2>
    <p>Ligue agora e agende uma consulta gratuita.</p>
    <button id="btn-call"><a href="https://api.whatsapp.com/send?phone=5521964482123&text=Ol%C3%A1,%20gostaria%20de%20solicitar%20um%20or%C3%A7amento!">Solicite Agora Seu Orçamento!</a></button>
  </div>
</section>


<section id="sobre" data-ctt="left">
  <div class="card">
    <img id="img-card" src="assets/cardi.webp" alt="card">
    <div class="context-card">
      <h2>Sobre nós</h2>
      <p>A Rede solar é uma empresa com o propósito de oferecer serviço de excelência visando sempre oferecer equipamentos e serviços de qualidade para os nossos clientes.</p>
      <div class="sub-card">
       <p><i class="fa-solid fa-circle-check"></i>Avaliamos suas necessidades de energia</p>
       <p><i class="fa-solid fa-circle-check"></i>Fornecemos um orçamento personalizado</p>
       <p><i class="fa-solid fa-circle-check"></i>Instalamos seus painéis solares</p>
       <p><i class="fa-solid fa-circle-check"></i>Conectamos seu sistema à rede elétrica</p>
       <p><i class="fa-solid fa-circle-check"></i>Monitoramos seu sistema para garantir a máxima eficiência</p>
      </div>
      <button id="btn-call"><a href="https://api.whatsapp.com/send?phone=5521964482123&text=Ol%C3%A1,%20gostaria%20de%20solicitar%20um%20or%C3%A7amento!">Solicite Agora Seu Orçamento!</a></button>
    </div>
  </div>
</section>

<section id="inf" data-ctt="right">
  <div class="context2">
      <h3>Nossos serviços oferecem</h3>
    </div>

    <div class="inf-content">
      <div class="services-content2">
        <i class="fa-solid icon-services fa-hand-holding-dollar"></i>
      <h2>Fonte renovável e inesgotável de energia</h2>
      <h4>Chega de lidar com contas de luz extremamente altas!</h4>
    </div>
    <div class="services-content">
      <i class="fa-solid icon-services fa-seedling"></i>
      <h2>Energia limpa e sustentável</h2>
      <h4>Sem Impacto ambiental negativo!</h4>
    </div>
      <div class="services-content">
        <i class="fa-solid icon-services fa-bolt"></i>
        <h2>Conforto e independência</h2>
        <h4>Chega de depender de energia elétrica!</h4>
      </div>
      <div class="services-content">
        <i class="fa-solid icon-services fa-house-circle-check"></i>
        <h2>Valorização do imóvel</h2>
        <h4>Seu imóvel muito mais valorizado no mercado!</h4>
      </div>
    </div>
</section>

<footer  data-ctt="left">
  <div class="img-footer">
    <img id="img-footer-src" src="assets/Imagens/Logo2.png" alt="logo">
  </div>
  <div id="Informacoes" class="content-footer">
    <div class="inf">
      <i class="fa-solid fa-envelope"></i>
      <h3>oziel.amancio@gmail.com</h3>
    </div>

    <div class="inf">
    <i class="fa-solid fa-phone"></i>
    <h3>(21) 96448-2123</h3>
  </div>

 </div>

  <div class="inf2">
    <h2>Nossas redes sociais</h2>
    <div class="href">
      <a href="https://www.youtube.com/@oziel_energiasolar"><i class="fa-brands fa-youtube"></i></a>
      <a href="https://www.instagram.com/redesolar.geracao/"><i class="fa-brands fa-instagram"></i></a>
   </div>
  </div>
</footer>

