$h2-color: rgb(255, 255, 255);
$footer-color: rgb(250, 250, 250);
$font-size:1.1rem;
$font-sizePadrao:2.8rem;
$Sub-title:1.7rem;
$color-sun:rgb(255, 255, 255);
nav{
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 8px #ddd;
  .menu{
    display: none;
  }
}
#bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
    overflow-y: hidden;
 }
.nav-contentt{
  width: 100%;
  height: 100%;

  ul{
    display: flex;
    padding: 1rem;
    li{
      padding: 0 1.5rem;
      font-size: 1.3em;
      list-style-type: none;
      a{
        color: rgb(0, 0, 0);
        font-style: none;
        text-decoration: none;
        transition: all 0.3s ease 0s;
      }
      a:hover{
        color: #fc880f;
      }
    }
  }
}
.nav-content{
    ul{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      li{
        padding: 0.7rem 0px;
        font-size: 1.3em;
        list-style-type: none;
        a{
          color: rgb(0, 0, 0);
          font-style: none;
          text-decoration: none;
          transition: all 0.3s ease 0s;
        }
        a:hover{
          color: #fc880f;
        }
      }
    }
    display: none;
}

.logo{
  margin-left: auto;
  display: flex;
  padding:0 0.5rem;
}
#img-logo1{
// height: 12rem;
max-height:13rem;
  background-size: cover;
  margin: 0;
  padding: 0;
 }
 #img-logo{
  //  height:6rem;
  font-size: 1.3em;
  font-weight: 500;
  position: relative;
  right: 16px;
  padding: 1.75rem 0;
 }
.content{
  background: url('/assets/Imagens/background.png');
    width: 100vw;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 6rem;
    .context{
        margin-left: 3rem;
        h3{
          font-size: $font-sizePadrao;
            color: $color-sun;
        }p{
          font-size: 1.5rem;
          color: $color-sun;
        }
    }
}


.context2{
  h3{
    font-size: $font-sizePadrao;
  }
}

#inf{
  height: 60vh;
  .inf-content{
    margin-top: 5em;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    .services-content{
      word-break: break-all;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 1rem;
      h2{
        font-size:1.2rem;
        width: 100%;
        height: 100%;
      }
      h4{
        margin-top: 0.9rem;
        font-size: 1rem;
         width: 13rem;
         color: rgb(104, 103, 103);
         font-weight: 600;
      }
    }
    .services-content2{
      width: 100%;
      word-break: break-all;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 1.8rem;
      h2{
        font-size:1.2rem;
        width: 101%;
        height: 100%;
      }
      h4{
        margin-top: 0.9rem;
        font-size: 1rem;
         width: 13rem;
         color: rgb(104, 103, 103);
         font-weight: 600;
      }
    }}
}
.icon-services{
  font-size: 3rem;
  margin-bottom: 1.2rem;
  color:#fc660f;
}

#services{
  height: 60vh;
  margin-bottom: 5rem;
  h2{
    font-size: $Sub-title;
  }
}
section{
  height: 100%;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-sobre{
      margin-bottom: 6rem;
    }
}

footer{
  margin-top: 8rem;
  width: 100%;
  height: 22%;
  background-color: #e24d3d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.img-data{
  height: 30vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
}
#sobre{
  height: 38rem;
  width: 100%;
  word-break: break-all;
  margin-bottom: 6rem;
  .context-card{
    display: flex;
    flex-direction: column;
    text-align: start;
    // align-items: center;
    padding-left: 1rem;
    font-size: 1.3rem;
    word-break: break-all;
    height: 100%;
    width: 38vw;
    #btn-call{
      cursor: pointer;
      margin-top: 1.3rem;
      margin-left: 1rem;
      border: 1px solid transparent;
      width:18rem;
      height: 4rem;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      color: rgb(255, 255, 255);
      font-size: 1rem;
      font-weight: 600;
      box-shadow: rgba(241, 102, 9, 0.637) 0px 5px 15px;
      transition: 0.2s;
      background-image: linear-gradient(217deg,#fc880f 0%,#fb503e 100%);
      a{
        text-decoration: none;
        color: $h2-color;
      }
    }
    h2{
    color: #fc880f;
    text-align: start;
    padding-top: 3rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    }
    p{
      margin-top: 1rem;
      float: left;
      color: rgb(10, 10, 10);
      text-align: start;
      font-size: 1.20rem;
      padding-left: 1rem;
    }
  }
}
.fa-circle-check{
  position: relative;
  top: 3px;
  right: 4px;
  color: #fc660f;
}
.fa-xmark{
  display: none;
}

.card{
  margin-top: 1rem;
  width: 80vw;
  height: 60vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

:host ::ng-deep {
  .product-item {
      .product-item-content {
          border: 1px solid var(--surface-d);
          border-radius: 3px;
          margin: .3rem;
          text-align: center;
          padding: 2rem 0;
      }

      .product-image {
          width: 50%;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
      }
  }
}

#img-card{
  height: 100%;
  width: 50%;
  float: right;
}

#contact{
  height: 30rem;
  width: 100%;
  margin-bottom: -3rem;
}


#btn-call:hover{
  transform: scale(1.1);
}
.contact-content{
  width: 100%;
  height: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  #btn-call{
    cursor: pointer;
    margin-top: 1.3rem;
    margin-right: 0.5rem;
    border: 1px solid transparent;
    width:18rem;
    height: 4rem;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    box-shadow: rgba(241, 102, 9, 0.637) 0px 5px 15px;
    transition: 0.2s;
    background-image: linear-gradient(217deg,#fc880f 0%,#fb503e 100%);
    a{
      text-decoration: none;
      color: $h2-color;
    }
  }
  h2{
    font-size:$font-sizePadrao;
  }
  p{
    padding-top: 0.5rem;
    font-size: 1.5rem;
  }
}

.content-footer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 2.8rem;
}
.img-footer{
  margin-top: -0.5rem;
}

#img-footer-src{
  height: 15rem;
  margin: 0;
}


.inf{
  color: $footer-color;
  display: flex;
  margin-bottom: 0.5rem;
  font-size: $font-size;
  i{
    margin-top: 0.3rem;
    margin-right: 0.4rem;
  }


}

.inf2{
  color: $footer-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin-left: 2rem;
  margin-top: -0.8rem;
  font-size: $font-size;
  a{
    text-align: center;
    width: 1.5rem;
  }
  i{
    color: $footer-color;
    margin-top: 0.3rem;
    margin-right: 0.4rem;
    cursor: pointer;
  }
}
.href{
  display: flex;
  gap: 1rem;
}

.nav-log{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#logo-nav{
  height:3rem;
}

[data-ctt]{
  opacity: 0;
  transition: .3s;
}

[data-ctt="left"]{
  transform: translate3d(-50px,0,0);
}

[data-ctt="right"]{
  transform: translate3d(50px,0,0);
}

[data-ctt].animate{
  opacity: 1;
  transform: translate3d(0,0,0);
}


@media only screen and (max-width: 900px) {

  .nav-contentt{
    display: none;
   }
  nav{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    ul{
      li{
        padding: 0.5rem 0;
      }
    }
    .content-nav{
      display: none;
    }
    #img-logo{
      display: none;
    }

    .menu{
      display: block;
      float: right;
      padding-right: 1rem;
      color: #0f0f0f;
      font-size: 1.5rem;
      cursor: pointer;

    }
  }
  #contact{
    height: 19.2rem;
  }

  .contact-content{
    width: 95vw;
    h2{
      font-size: 1.3rem;
    }
  }
  .context2{
    h3{
      font-size: 1.3rem;
    }
  }
  .content-sobre{
  h2{
    font-size: 1.4rem;
  }
  }
  .open{
    transition: transform 300ms ease-in-out 0s;
    display: block;
}
#services{
  height: 100%;
  margin-bottom: 2rem;
}
  #bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .card{
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
  #img-card{
    background-color: red;
    display: none;
  }
  #img-footer-src{
    height: 12rem;
    margin: 0;
  }.content-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: -3rem;
  }
  footer{
    width: 100%;
    height: 100%;
    margin-top: 8rem;
    background-color: #e24d3d;
    display: flex;
    flex-direction: column;
  }



  .icon-services{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #inf{
    height: 100%;
    width: 100%;
    .inf-content{
      margin-top: 0;
      width: 100%;
      display: flex;
       flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .services-content{
        word-break: break-all;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h2{
          font-size:1.3rem;
        }
        h4{
          margin-top: 0.9rem;
          font-size: 1.2rem;
          width:100%;
        }
      }
      .services-content2{
        width: 90%;
        word-break: break-all;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2{
          font-size:1.3rem;
        }
        h4{
          margin-top: 0.9rem;
          font-size: 1.1rem;
          width: 100%;
        }
      }}
  }
  .inf2{
    margin-top: 1rem;
    margin-left: 0;
  }

  .context-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
    font-size: 1.2rem;
    word-break: break-all;
    height: 100%;
    width: 100% !important;

    #btn-call{
      cursor: pointer;
      margin-top: 3.5rem !important;
      margin-right: 0.5rem;
      border: 1px solid transparent;
      width:18rem;
      height: 4rem;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      color: rgb(255, 255, 255);
      font-size: 1rem;
      font-weight: 600;
      box-shadow: rgba(241, 102, 9, 0.637) 0px 5px 15px;
      transition: 0.2s;
      background-image: linear-gradient(217deg,#fc880f 0%,#fb503e 100%);
      a{
        text-decoration: none;
        color: $h2-color;
      }
    }
    #btn-call:hover{
      transform: scale(1.06);
    }
    .sub-card{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      p{
        font-size: 1rem !important;
      }
    }
  }

}
